<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.wxapp.mapper.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sh.wxapp.domain.OrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="order_taker" property="orderTaker" jdbcType="BIGINT" />
    <result column="taken_time" property="takenTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, order_type, status, price, create_time, create_id, update_time, order_taker, 
    taken_time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectIssuedOrder" resultMap="BaseResultMap" parameterType="com.sh.wxapp.dto.order.LiveOrderListQueryDTO">
    select
    <include refid="Base_Column_List" />
    from order_info
    where status=0
    <if test="orderNo !=null">
      and order_no=#{orderNo},
    </if>
    <if test="orderType !=null">
      and order_type=#{orderType},
    </if>
    <if test="createStartDate !=null">
      and create_time gt;= #{createStartDate},
    </if>
    <if test="createEndDate !=null">
      and create_time lt;= #{createEndDate},
    </if>
    order by create_time desc
  </select>
    <select id="selectOrderList" resultMap="BaseResultMap" parameterType="com.sh.wxapp.dto.order.OrderListQueryDTO">
      select
      <include refid="Base_Column_List" />
      from order_info
      <where>
      1=1
      <if test="status !=null">
        and status=#{status},
      </if>
      <if test="orderNo !=null">
        and order_no=#{orderNo},
      </if>
      <if test="orderType !=null">
        and order_type=#{orderType},
      </if>
      <if test="createStartDate !=null">
        and create_time gt;= #{createStartDate},
      </if>
      <if test="createEndDate !=null">
        and create_time lt;= #{createEndDate},
      </if>
       and status !=6
      </where>
      order by create_time desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sh.wxapp.domain.OrderInfo" >
    insert into order_info (id, order_no, order_type, 
      status, price, create_time, 
      create_id, update_time, order_taker, 
      taken_time, version)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{orderTaker,jdbcType=BIGINT}, 
      #{takenTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sh.wxapp.domain.OrderInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="orderTaker != null" >
        order_taker,
      </if>
      <if test="takenTime != null" >
        taken_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTaker != null" >
        #{orderTaker,jdbcType=BIGINT},
      </if>
      <if test="takenTime != null" >
        #{takenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update order_info
    <set >
      <if test="OrderInfo.orderNo != null" >
        order_no = #{OrderInfo.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="OrderInfo.orderType != null" >
        order_type = #{OrderInfo.orderType,jdbcType=INTEGER},
      </if>
      <if test="OrderInfo.status != null" >
        status = #{OrderInfo.status,jdbcType=INTEGER},
      </if>
      <if test="OrderInfo.price != null" >
        price = #{OrderInfo.price,jdbcType=DECIMAL},
      </if>
      <if test="OrderInfo.createTime != null" >
        create_time = #{OrderInfo.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="OrderInfo.createId != null" >
        create_id = #{OrderInfo.createId,jdbcType=BIGINT},
      </if>
      <if test="OrderInfo.updateTime != null" >
        update_time = #{OrderInfo.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="OrderInfo.orderTaker != null" >
        order_taker = #{OrderInfo.orderTaker,jdbcType=BIGINT},
      </if>
      <if test="OrderInfo.takenTime != null" >
        taken_time = #{OrderInfo.takenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="OrderInfo.version != null" >
        version = #{OrderInfo.version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{OrderInfo.id,jdbcType=BIGINT} and version = #{oldVersion,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sh.wxapp.domain.OrderInfo" >
    update order_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_taker = #{orderTaker,jdbcType=BIGINT},
      taken_time = #{takenTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>