<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.wxapp.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sh.wxapp.domain.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="wechat_num" property="wechatNum" jdbcType="VARCHAR" />
    <result column="qq_num" property="qqNum" jdbcType="VARCHAR" />
    <result column=" create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, gender, position, telephone, wechat_num, qq_num, " create_date", 
    modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
      select
      <include refid="Base_Column_List" />
      from user_info
      where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sh.wxapp.domain.UserInfo" >
    insert into user_info (id, user_id, name, 
      gender, position, telephone, 
      wechat_num, qq_num, " create_date", 
      modify_date)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, 
      #{wechatNum,jdbcType=VARCHAR}, #{qqNum,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sh.wxapp.domain.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="wechatNum != null" >
        wechat_num,
      </if>
      <if test="qqNum != null" >
        qq_num,
      </if>
      <if test="createDate != null" >
        " create_date",
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null" >
        #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sh.wxapp.domain.UserInfo" >
    update user_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null" >
        wechat_num = #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        qq_num = #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        " create_date" = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sh.wxapp.domain.UserInfo" >
    update user_info
    set user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      wechat_num = #{wechatNum,jdbcType=VARCHAR},
      qq_num = #{qqNum,jdbcType=VARCHAR},
      " create_date" = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByUserIdSelective">
    update user_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null" >
        wechat_num = #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        qq_num = #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        " create_date" = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>